@CHARSET "ISO-8859-1";

div.view-image-thumbnails .ui-widget-content {
	margin: 2px;
	border: 1px solid rgb(220,220,220);
	background-color: rgb(240,240,240);
	padding-top: 8px;
	padding-bottom: 12px;
}

div.view-image-thumbnails .ui-selected {
	background-color: rgb(245,228,156);
	border: 1px solid orange;
}
