@CHARSET "ISO-8859-1";
#content h1.title {
	text-align: center;
}
#latimage-websearchform {
	margin-top: 2em;
	margin-bottom: 4em;
}
#latimage-websearchform .image-search-form {
	text-align: center;
	margin-bottom: 2em;
}
#latimage-websearchform div#edit-tags-wrapper {
	display: inline;
}
#latimage-websearchform .ui-widget-content {
  text-align: center;
  background-color: rgb(240,240,240);
  border: 1px solid rgb(220,220,220);
  padding: 8px;
  margin: 2px;
  display: inline-block;
  text-align: center;
}
#latimage-websearchform .ui-selected {
	background-color: yellow;
	border: 1px solid rgb(234,234,0);
}
#latimage-websearchform input#edit-submit-images {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 4em;
}
