/*******************************************************************
 * PAGE LAYOUT TABLE
 *******************************************************************/
body.front table#lat-page-layout-table td.center {
  width: 50%;
}

body.front table#lat-page-layout-table td.right {
  width: 25%;
}

/*******************************************************************
 * PAGE LAYOUT TABLE
 *******************************************************************/
div#login-notice {
  text-align: center;
} 
 
/*******************************************************************
 * SPONSOR LIST
 *******************************************************************/
div.view-lat-frontpage-sponsors .views-field-field-subscrip-image-fid {
  float: left;
  padding: 0px 8px 0px 0px;
} 
div.view-lat-frontpage-sponsors h2 {
  margin: 4px 0px 4px 0px;
}
div.view-lat-frontpage-sponsors a:hover h2 {
  text-decoration: underline;
}

/*******************************************************************
 * FEATURED CONTENT LIST
 *******************************************************************/
div.view-id-lat_frontpage_content {
  padding: 0px 8px;
}

div.view-id-lat_frontpage_content b.bottom {
  display: block;
  margin-bottom: 4px;
}
