@CHARSET "ISO-8859-1";

#content h1.title {
	display: none;
}

#lat-image-upload .node-form {
	text-align: center;
	margin-top: 4em;
	margin-bottom: 8em;
}

/* Hide most fields, except image upload field. */
#lat-image-upload .node-form .standard fieldset {
	display: none;
}

#lat-image-upload .node-form .admin {
	display: none;
}

#edit-field-image-0-upload-wrapper label {
  display: none;
}

#edit-field-image-0-upload-wrapper .filefield-element .widget-edit {
	float: none;
  margin-left: auto;
  margin-right: auto;
}
#edit-field-image-0-upload-wrapper .filefield-element .widget-edit .filefield-sources-list {
	display: none;
}	
	
#lat-image-upload .node-form input#edit-preview.form-submit {
  display: none;
}
