/*****************************************************************************
 * PAGE
 */
 
body {
  /*font-family: "Aboriginal Sans", Tahoma,Verdana,Arial,Helvetica,sans-serif*/
  /*font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;*/
	font-size: 1em;
  background-color: #eeeeee;
}

iframe body {
	background-color: #ffffff;
}
	
#page-wrapper {
  margin-bottom: 16px;
}

#page {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: white;
}

/*****************************************************************************
 * HEADER
 */
 
#header .section {
	padding-top: .5em;
}
 
/* SITE NAME */
h1#site-name, div#site-name {
	font-size: 1.2em;
  float: right;
  font-weight: bold;
  margin-right: .5em;
}
h1#site-name, div#site-name a {
  color: black;
}
h1#site-name, div#site-name a:hover {
  color: black;
  text-decoration: underline;
}



/**
 * MAIN
 */
 
#main {
  /* border-top: solid 1px #ccc;*/
  padding-top: 8px;
}

#main #content h1.title,
#main #content div.tabs,
#main #content div#content-area
{
	padding-top: 0px;
	padding-left: 8px;
	padding-right: 8px;
}

#main #content #content-area {
	padding-top: 2em;
}

body.front #main,
body.page-node #main,
body.page-sp #main,
body.page-user #main {
}

.with-navigation #content,
.with-navigation .region-sidebar-first,
.with-navigation .region-sidebar-second {
  margin-top: 0em; /* Undo the room made for navigation. */
}

h1#page-title {
  padding-left: 8px;
  margin: 0px;
}

/*****************************************************************************
 * FOOTER
 */

#page-wrapper #footer {
	margin-top: 2em;
}
